/*--------------------------------------------Подвал*/

/*image*/
#stackoverflow{
    width: 50px;
}
#paysystems{
    width: 300px;
    margin-left: auto;
}
.footerTop{
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: flex-start;
    padding: 15px 15px 10px 20px;
    font-size: 13px;
}
.footerTop>div{
    margin: 10px;
}

.footerDawn{
    background-color: rgb(16, 16, 16);
    border: 4px double rgb(0, 0, 0);
    padding: 20px 0px 30px 30px;
    font-size: 15px;
}