/*--------------------------------------------Main*/
.block{
    text-align: center;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 4px double rgb(0, 0, 0);
}

.desP{
    height: 90%;
}
#desPImg{
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
}

.buttonP{
    
}